*{
    margin :0;
    padding :0;
    box-sizing: border-box;
}
header{
    background-color: rgb(4, 0, 255);
    display: flex;
}
.container{
    width: 80%;
    margin: 0 auto;
   align-items: center;
}
.flex-content{
    display: flex;
}
.logo{
    flex-grow: 1;
}
nav{
    flex-grow: 3;
}
.login{
    flex-grow: 1;
    text-align: right;
}
button{
    padding: 5px 10px;
    border-radius: 40px;
    border: none;
    background-color: white;
}
ul{
    justify-content: space-around;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
.section-head{
    background-image: url(../img/jumbo.png);
    height: 250px;
    background-size: cover;
    padding: 20px;
}
.box{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
}
/*main*/
.sectionCol{
    background-color: white;
    padding: 20px;
}
.img{
    width: 60%;
}
.text-area{
    flex-basis: 40%;
    height: 250px;
}
.articol{
    width: 80%;
    margin: 0 auto;
}
.section-color{
    background-color: rgba(189, 188, 188, 0.643);
}
select {
    border: none;
    border-radius: 4px;
}
/*footer*/
footer{
    background-color: black ;
    padding-top: 10px;
}
.element{
    margin-bottom: 10px;
}
.element-img{
    height: 250px;
    background-color: pink;
    flex-grow: 2;
}
.section-item{
    background-color: cadetblue;
    height: 250px; 
    flex-grow: 1;
    border: 1px dotted white;
}
hr{
    border-color:  rgba(189, 188, 188, 0.643);;
}
.section-footer{
    background-color: aquamarine;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}